        #main {
            width: 550px;
            border: 2px solid #5d95c6;
            border-radius: 8px;
            padding: 32px 80px;
            display: block;

            margin: auto;

        }

        #main .wrapper {

            width: 100%;

            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .wrapper .showError {

            width: 100%;
        }


        .formDisplay {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 16px;

        }

        .form-group {
            width: 100%;
            display: flex;
            margin-bottom: 16px;

        }

        .form-group .form-label {
            align-items: center;
            display: flex;
            justify-content: center;
            width: 30%;
            max-height: 40px;
            text-align: center;
            background-color: #79ba4d;
            padding: 8px 12px;
            border: 2px solid #3e6689;
            border-radius: 2px;
            margin-right: 16px;
            margin-bottom: 0;
            color: #fff;


        }

        .form-group .form-label .required {
            color: red;
            margin-left: 4px;
        }


        .form-group .input-use {
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            flex: 1 1 0;

        }

        .form-group .input-use .studentImg {
            width: 64px;
        }



        .form-group .input-use input[type="text"] {
            width: 100%;
            font-size: 20px;
            padding: 8px 4px;
            border: 2px solid #3e6689;
            border-radius: 2px;
        }

        .form-group .input-use p {
            text-align: left;
        }

        #datetimepicker {
            width: 180px;
            margin: 0 20px 20px 20px;
        }

        #datetimepicker>span:hover {
            cursor: pointer;
        }

        .form-group .input-use input[type="radio"] {

            border: 1px solid #3e6689;
            background-color: #5b9bd5;
            width: 16px;
        }

        .form-group .input-use input[type="radio"]:hover {

            cursor: pointer;
            background-color: #5b9bd5;
        }

        .form-group .input-use .radio-label {
            margin-left: 8px;
            margin-bottom: 0;
            font-weight: 500;
        }

        .form-group .input-use #phankhoa {
            width: 100%;
            font-size: 20px;
            padding: 10px 4px;
            border: 2px solid #3e6689;
            border-radius: 2px;

        }

        select {
            background: url("data:image/svg+xml,<svg height='20px' width='20px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
            background-position: calc(100% - 0.75rem) center !important;
            -moz-appearance: none !important;
            -webkit-appearance: none !important;
            appearance: none !important;
            padding-right: 2rem !important;
        }

        .form-group .input-use .radio-gr {
            display: flex;
            flex-direction: row;
            margin-right: 25px;
        }

        .form-group .input-use .radio-gr label {
            font-size: 20px;
        }

        .formDisplay .sub_btn {
            text-align: center;
            width: 120px;
            color: #fff;
            background-color: #5c903a;
            font-size: 14px;
            padding: 12px;
            border: 2px solid #3e6689;
            border-radius: 6px;
        }
        form .sub_btn {
            text-align: center;
            width: 120px;
            color: #fff;
            background-color: #5c903a;
            font-size: 14px;
            padding: 12px;
            border: 2px solid #3e6689;
            border-radius: 6px;
        }

        .button-box {
            display: flex;
            justify-content: center;
        }